*{
    margin: 0;  
}
#header>div>a{
    text-decoration: none;
    color: rgb(217,0,0);
}
#header>div{
    width: 15vw;
    text-align: center;
    font-weight: bold;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#header{
    font-size: large;
    display: flex;
    height: 80px;
    align-items: center;
    box-shadow:  rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    justify-content: space-evenly;
}
#logo{
   height: 100%; 
}
#card{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* border: 2px solid rgb(0, 0, 0); */
    display: flex;
    width: 80vw;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    margin: auto;
    justify-content: space-between;
    margin-top: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
}
#delItem:hover{
    background-color: rgb(217,0,0);
    color: white;
    cursor: pointer;
}
#des{
    font-size:15px;
}
#prodDesc{
    color: rgb(217,0,0);
}
#delItem{
    border: 0;
    border-radius: 5px;
    padding: 10px 20px 10px 20px;
    margin-top: 20px;
}
#left{
    /* border: 2px solid orangered; */
    width: 15vw;
    text-align: center;
}
#right{
    /* border: 1px solid blue; */
    width: 63vw;
    padding-right: 20px;
}
#prodImg{
    /* border: 1px solid red; */
    height: 20vh;
    width: 100%;
    object-fit: contain;
}

/* media queries */
@media screen and (max-width: 650px) {
    #card{
        flex-direction: column;
        align-items: center;
    }
    #landing{
        margin: auto;
    }
    #left{
        width: 70%;
        padding: 20px;
    }
    #right{
        padding-right: 0;
        padding: 20px;
        text-align: center;
    }
}
@media screen and (max-width: 500px) {
    #user,#product,#order{
        display: none;
    }
}