body {
    font-family: sans-serif;
    /* background-color: rgb(225, 223, 220); */
  }

#cart{
    width: 70%;
    margin: 30px auto;
    /* border: 1px solid red; */
    /* height: 300px; */
    /* display: flex;
    flex-direction: row;
    justify-content: space-evenly; */
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 30px;
}
#cart-div{
    /* width: 48vw; */
    /* margin: 10px auto; */
    /* border: 1px solid green; */
    /* height: 300px; */
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 10px;
}
.product{
    height: 142px;
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
    display: flex;
    border: 1px solid gray;
    background-color: white;
    border-radius:11px;
    flex-direction: row;
    justify-content: space-between;
}
/* .product>div{
    border: 1px solid red;
} */
.product_image{
    padding: 7px;
    display: flex;
}
.product_image img {
    height: 17vh;
    width: 10vw;
    /* height: 120px;
  width: 100%; */
    object-fit: cover;
    border-radius: 11px;
}
.product_name{
    padding-left: 15px;
}
.product_btn{
    /* margin: auto; */
    width: 70px;
    padding: 15px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* border: 1px solid red; */
}   
.product_btn button{
    border: none;
    border-radius: 7px;
    font-size: large;
    /* background: none; */
    color: blue;
}



 /* ------ details ------- */
#details-div{
    /* width: 25vw; */
    /* margin: 10px auto; */
    /* border: 1px solid yellow; */
    /* height: 300px; */
    /* display: grid;
    grid-template-columns: repeat(1,1fr); */
    /* gap: 15px;  */
}
#details-div>div:not(:last-child){
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

#details-div>div:nth-child(1){
    height: 58px;
    /* border: 2px solid blueviolet; */
    /* padding: 8px; */
    background-color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
#payment-detail{
    margin: 10px 0px;
    /* padding-bottom:  10px; */
    /* border: 2px solid blueviolet; */
    background-color: white;
}
#payment-detail div{
    height: 40px;
    padding: 0px 28px; 
    display: flex;
    justify-content: space-between;
    color: rgb(126, 127, 129);
    /* border: 1px solid red; */
    align-items: center;
}
#details-div button{
    width: 100%;
    padding: 10px 0px;
    font-size: x-large;
    border-radius: 7px;
    border: none;
    background-color: rgb(148, 56, 56);
    color: white;
}


/* ------------------ */

@media screen and (min-width: 320px) and (max-width: 650px) {
    #cart{
        width: 70%;
        margin: 30px auto;
        /* border: 1px solid red; */
        /* height: 300px; */
        display: flex;
        flex-direction: column;
        /* justify-content: space-evenly; */
    }
  }
  
  @media screen and (min-width: 651px) and (max-width: 1024px) {
    #cart{
        width: 70%;
        margin: 30px auto;
        /* border: 1px solid red; */
        /* height: 300px; */
        display: flex;
        flex-direction: column;
        /* justify-content: space-evenly; */
    }
  }