* {
    margin: 0%;
    background-color: rgb(240, 240, 240);
}

#firstLevel {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 300px;

    padding-top: 70px;
    background-color: rgb(240, 240, 240);
}

ul {
    list-style: none;
    background-color: rgb(240, 240, 240);

}

ul li {
    padding-top: 10px;
    align-items: baseline;
    background-color: rgb(240, 240, 240);
}





#appstore {
    display: flex;
    flex-direction: column;

    padding-left: 0px;
    padding-top: 5px;

}

.store {
    width: 155px;
    height: 50px;

    padding-bottom: 0px;
    margin-bottom: 0px;

}

.storeapple {
    width: 155px;
    height: 50px;
    padding-top: 0%;
    margin-top: 0%;


}

.one {
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 25px;
}

#SecondLevel {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.certi {
    width: 80px;
    height: 80px;
}

#thirdLevel {
    color: gray;
    text-align: center;
    height: 40px;
    align-items: center;

    padding-top: 20px;
}

hr {
    background-color: rgb(251, 248, 248);

}