* {
    margin: 0%;
}

#nav {

    width: 100%;
    height: 150px;
}

#upperPartNav {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    border: 1px solid rgb(234, 229, 229);

}

#upperPartNav img {
    width: 100px;
    height: 100%;
}

#plans {
    display: flex;
    width: 1000px;
    align-items: center;
    justify-content: space-between;
}

#plans p:hover {
    color: #2563EB;
}

.placeicon {
    font-family: fontawesome;
    color: black;
}

#pages {
    display: flex;
    width: 400px;

    justify-content: space-around;
    align-items: center;
}

#pages a {
    text-decoration: none;
    color: black;
}

#middlePartNav {
    width: 100%;
    height: 50px;
    border: 1px solid rgb(234, 229, 229);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#location {

    width: 800px;
    height: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(243, 240, 240);
    margin-left: 30px;
    border-radius: 5px;
    padding-left: 20px;
}

#location select {
    border: 1px solid border;
    width: 150px;
    height: 30px;
    font-size: 15px;
    height: 90%;
    background-color: rgb(243, 240, 240);
    margin-left: 10px;
}

#searchBar {
    border: none;
    width: 600px;
    height: 90%;
    background-color: rgb(243, 240, 240);

}

#searchBar input {
    width: 70%;
    height: 90%;
    border: none;
    background-color: rgb(243, 240, 240);
    font-size: 20px;
}

#searchBar button {
    height: 90%;
    border: none;
    background-color: white;
    font-size: 20px;
    background-color: rgb(243, 240, 240);
}

#quickOrder {

    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#quickOrder button {

    display: inline-block;
    outline: 0;
    cursor: pointer;
    border: none;
    padding: 0 56px;
    height: 40px;
    line-height: 45px;
    border-radius: 7px;
    background-color: #0070f3;
    color: white;
    font-weight: 400;
    font-size: 16px;
    box-shadow: 0 4px 14px 0 rgb(0 118 255 / 39%);
    transition: background 0.2s ease, color 0.2s ease, box-shadow 0.2s ease;
    font-size: 20px;
    align-items: center;
}

#quickOrder button:hover {
    background: rgba(0, 118, 255, 0.9);
    box-shadow: 0 6px 20px rgb(0 118 255 / 23%);
}

#lowerPartNav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid rgb(234, 229, 229);
    height: 40px;
}

ul {

    list-style: none;
    padding-left: 40px;
    padding-right: 30px;


}

ul li {
    padding-top: 10px;

}

ul li a {
    text-decoration: none;
    color: black;
}

.menu {
    font-size: 20px;
}

.dropDown,
.vitamin,
.diabetes,
.Health,
.Personal,
.HealthC,
.Ayurveda,
.homopathy {

    overflow: hidden;
    background-color: white;
    position: absolute;
    height: 0px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: 0.5s;
    display: flex;

}

.homopathylist {
    padding-left: 35px;
    padding-right: 10px;
    width: 80px;

}

.Personal {
    left: 500px;
}

.homopathy {
    left: 1270px;
    width: 160px;
}

.Ayurveda {
    left: 700px;
}