body {
    font-family: sans-serif;
    background-color: floralwhite;
    /* background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRtrXwifaXQH87T_G9r1Xxdu4sTGlCafukrwg&usqp=CAU");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%; */
}

#main {
    width: 400px;
    margin: 70px auto auto;
    /* height: 300px; */
    border: 2px solid rgb(206, 177, 177);
    background-color: white;
    padding: 0px 15px;
}

#img_div>div {
    display: flex;
    justify-content: space-between;
}

#img_div>div div {
    width: 48%;
    border: 1px solid rgb(197, 191, 191);
    border-radius: 7px;
}

#img_div>div div:nth-child(2) {
    border: 2px solid rgb(75, 72, 72);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#img_div img {
    height: 100px;
    width: 100%;
    object-fit: cover;
    border-radius: 7px;
}

/* #img_div p{
    font-size: x-large;
  } */

#input_div {
    margin: 10px 0px;
    /* border: 2px solid blue; */
}

#input_div input {
    margin: -17px 0px 0px;
    padding: 7px;
    font-size: x-large;
}

input:not(:last-child){
    width: 90%;
}
#cvv{
    width: 20%;
}

#button{
    margin: 10px 0px;
    width: 100%;
    padding: 7px;
    font-size: x-large;
    background-color: rgb(31, 207, 72);
    color: white;
    border: 0px;
}