
        *{
            margin: 0;
            padding: 0;
        }
        .container{
            /* border: 2px solid red; */
            display: flex;
            width: 100%;
            justify-content: space-around;
        }
        #left{
            /* border: 2px solid blue; */
            width: 30vw;
            text-align: center;
        }
        #right{
            /* border: 2px solid blue; */
            width: 30vw;
        }
        #username, #password{
            border-top-style: hidden;
            border-right-style: hidden;
            border-left-style: hidden;
            margin-bottom: 5%;
        }
        #username, #mobile, #password{
            border-top-style: hidden;
            border-right-style: hidden;
            border-left-style: hidden;
            margin-bottom:8%;
        }
        #username, #mobile, #password:focus {
            outline: none;
        }
        #username, #password, #mobile, #signupBtn{
            width: 100%;
            height: 35px;
        }
        #signupBtn{
            background-color: #5468ff;
            font-size: large;
            color: white;
        }
        #sliderImage{
            margin-top: 10%;
            margin-bottom: 10%;
        }
        #sliderHeading,#head,#para{
            margin-bottom: 5%;
        }
        #tick{
            margin-top: 5%;
            margin-bottom: 10%;
        }
        #signupForm{
            margin-bottom: 5%;
        }
        #already,#policy{
            text-align: center;
            margin-bottom: 5%;
        }
@media screen and (max-width: 480px) {
    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #left,#right{
        width: 90vw;
    }
    #left,#tick{
        margin-bottom: 25px;
    }
}
